<% @title="Stap 1" %>
<h1>Reserveringswensen</h1>
<p>
  Op deze pagina kiest u een datum en tijd en de tafel die u op deze datum wil reserveren. Indien u meerdere tafels wilt reserveren voor grote groepen kunt u een reservering telefonisch doorgeven.
</p>